body{
	background-color: #333;
	color: #f6f6f6;
	text-transform: uppercase;
	text-align: center;
	font-family: "helvetica neue", sans-serif;
	font-size:16px;
}
#content_add{
	width: 50%;
	float: left;
}
#content_add h1, #content_eroga h1,#content_debito h1{
	font-weight: lighter;
	letter-spacing: 2px;
}
#content_eroga{
	width: 50%;
	float: right;
}
#content_debito	{
	width: 50%;
	margin-left:auto;
	margin-right: auto;
	padding-top: 100px;
	clear: both;
}
input[type="text"]{
	background-color:transparent;
	color: #f6f6f6;
	border: 2px solid #ccc;
	height: 20px;
	padding: 5px;
}
input[type="button"]{
	background: blue;
	color: #f6f6f6;
	border-color: transparent;
	border-radius: 4px;
	padding: 10px;
}
input[readonly="readonly"]{
	background: #f6f6f6;
	color: #333;
	width: 200px;
}